.switchLanguage {

  .arrowIcon {
    svg {
      transform: translate(-15px, 0px);
      width: 10px;
      height: 10px;
      fill: white;
      z-index: -1;
    }
  }

  .languageSelect {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: inherit;
    padding-right: 20px;

    @media screen and (max-width: 768px) {
      padding: 0;

    }
  }

}