

.mainContent {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;


.details {
    margin-top: 30px;
    font-size: 1.1rem;
}

.details h4 {
    margin-bottom: 10px;
}

.details p {
    margin: 5px 0;
}

}