// @import url('https://db.onlinewebfonts.com/c/543092172c7d9a62dc51fa0fc510b6cf?family=Everett+Regular');
// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

// font face fonts/Aurora-gx4V6.woff

@font-face {
  font-family: 'Aurora';
  src: url('../fonts/Aurora-gx4V6.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "Everett Regular";
//   src: url("https://db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.eot");
//   src: url("https://db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.eot?#iefix")format("embedded-opentype"),
//   url("https://db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.woff2")format("woff2"),
//   url("https://db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.woff")format("woff"),
//   url("https://db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.ttf")format("truetype"),
//   url("https://db.onlinewebfonts.com/t/543092172c7d9a62dc51fa0fc510b6cf.svg#Everett Regular")format("svg");
// }

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  // font-family: 'Everett Regular', sans-serif;
  font-family: 'Geist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aurora {
  font-family: 'Aurora', serif;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, textarea, select, a, option, optgroup {
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.button {
  width: fit-content;
  height: fit-content;
  background-color: white;
  color: black;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: grayscale(100%) brightness(40%) contrast(200%);
}

.leaflet-control-attribution {
  display: none !important;
}