.ml {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    padding: 4rem;
    font-size: 1.1rem;
    line-height: 1.5;
    width: 100%;
    max-width: 1000px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 1rem;

    h1 {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 3rem;
        font-weight: 500;
    }

    h2 {
        margin-bottom: 1rem;
        font-size: 2.3rem;
        font-weight: 500;
    }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    li {
        list-style: none;
    }
}

@media screen and (max-width: 768px) {
    .ml {
        padding: 1rem;
        padding-top: 3rem;
        font-size: 1rem;

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

}