.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    height: fit-content;
    z-index: 1000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

    .section {
        padding: 1rem 1.5rem;
        max-height: 70px;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            img {
                width: auto;
            }
        }
    }

    .links {
        background-color: #fff;
        padding: 1rem 2rem;
        color: black;
        display: flex;
        flex-direction: column;
        font-weight: 600;
    }
}